body {
    padding: 50px 0;
    background-color: #fdfff5;
}
.text {
    /* Alignment */
    text-align: center;
    margin: auto;
    color: #222222;
    width: 100%;

    /* Font */
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer {
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
hr {
    width: 20rem;
    height: 1px;
    border: none;
    opacity: 1.0;
    background-color: #222222;
}